
.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    
}

#delete-form {
    display: inline;
}

#devs {
    margin-top: 0;
    margin-bottom: 0;
}

